html, body {
  height: 100%;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif; 
}

.wrapper {
  overflow: hidden;
  min-height: inherit;
  
}

.wrapper__content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  min-height: 100%;
}

.footer__container {
  flex: 0 0 auto;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.title__section {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  width: 1060px;
}

.container_width_1200 {
  width: 1200px; 
  margin: 0 20px;
  margin: 0 auto;
}

.banner {
  
  margin-bottom: 16px;
  max-width: 1007px;
  max-height: 299px;
}

.page-content {
  width: 85%;
  padding-top: 25px;
 }

 .content {
   display: flex;
 }

 .col_3 {
   width: calc(100%/12*3)
 }

 .col_9 {
   width: calc(100%/12*9);
 }

