

.contacts {
  text-align: right;
  color: #ffffff;
}

.contacts__phone {
  font-size: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
 }

.hours {
  opacity: 0.7;
  text-decoration: underline;
  font-size: 14px;
  color: #ffffff;
}
