

footer {
  background-color: #4b73b5;
  color: white;

}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 77px;
}

.about-us {
  width: 250px;
  font-size: 14px;
  font-weight: 300;

}

.about-us a {
  text-decoration: underline;
  font-weight: 700;
  color: inherit;
}

.about-us p {
  margin: 0;
  padding: 10px 0;
}

.title__socials {
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 10px;
}

.socials__item {
  margin-left: 5px;
}

.link-icon__container {
  position: relative;
  background-color: #d2def3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.socials_aside .link-icon__container {
  background-color: #ffffff;
}

.link-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.link-icon__container:hover {
  background-color: #ffffff;
}

.socials_aside .link-icon__container:hover {
  background-color: #d2def3;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.socials__list {
  display: flex;
}

.socials__item {
  margin-right: 7px;
}

.socials__item:last-child {
  margin: 0;
}

.socials_aside .link-icon__container {
  overflow: hidden;
  background-image: url("../../img/web/web_sprite.png");
}

.socials_aside .vk  {
  background-position: 23px 21px;
}

.socials_aside .fb {
  background-position: 2px -1px;
}

.socials_aside .gl {
  background-position: -17px 1px;
}

.socials_aside .tw {
  background-position: 21px 1px;
}

.socials_aside .ml {
  background-position: -17px -19px;
}
