.questions {
  min-height: 170px;
  background-color: #4bb56b;  
  background-image: url("/img/Group_1.png");
  display: flex;
  justify-content: center;
  margin-bottom: 58px;

}

.questions__text {
  max-width: 700px;
  display: flex;
  align-items: center;
}

.questions__text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
}

.questions__text p a {
  text-decoration: underline;
  color: #ffffff;
  font-weight: bold;
}

.questions__phone {
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
}

.questions_aside {
  font-size: 14px;
  text-align: center;
}